/*
Colors used in the image

browser bg #AAAAAA
header bg #fefefe
body bg #e4e4e4
h1 #7c3d45
h!1 #78363f
p #b96b74


*/
html{

    background-color: #AAAAAA;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: #7c3d45;
}
body{
    
    margin-left: 25%;
    margin-right: 25%;
    background-color: #e4e4e4;
    
}
label{
    color:#b96b74;
    padding: 1px 0 1px 0;
}
.table-style{
    padding: 0 0 0 40px ;
}

.section0{
    background-color: #fefefe;
    margin:0;
    padding: 10px 0 10px 0;
}
.section0-style{
    font-size: large;
    font-weight:900;
    text-align: center;
    
}
.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7,
.section8{
    background-color: #e4e4e4;
    margin:0;
    padding: 10px 5px 30px 5px;
    font-weight: 400;
    
}
.t-r1-style{
    font-size: 13px;
    text-align: left;
    width: 55%;
   
    
}
.t-r2-style{
    margin:0;
}
.t1r2-input-style{
    width: 300px;
    height: 35px;
    border-radius: 4px;
    border-width: 1px;
   
    border-color: #AAAAAA;
    
}
.why{
    color: gray;
    padding: 5px 0 0 0;
}

.radio-style{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    vertical-align: middle;
}
.form-style{
    font-size: 10px;
}
.section7_text-style{
    
    width:90%;
    height:150px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #AAAAAA;
    

}


