/*
Colors used in the image

browser bg #AAAAAA
header bg #fefefe
body bg #e4e4e4
h1 #7c3d45
h!1 #78363f
p #b68086


*/
html{

    background-color: #AAAAAA;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}
header{
    font-size: large;
    font-weight: 900;
    text-align: center;
    color: #7c3d45;
    background-color: #fefefe;
    margin:0;
    padding: 10px 0px 10px 0px;


}
body{
    
    margin-left: 25%;
    margin-right: 25%;
    background-color: #e4e4e4;
    
}
