/*
Colors used in the image

browser bg #AAAAAA
header bg #fefefe
body bg #e4e4e4
h1 #7c3d45
h!1 #78363f
p #b68086


*/
html{

    background-color: #AAAAAA;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: #7c3d45;
}
body{
    
    margin-left: 25%;
    margin-right: 25%;
    background-color: #e4e4e4;
    
}
label{
    color:#b68086;
    padding: 1px 0 1px 0;
}
.table-style{
    padding: 0 0 0 50px ;
}

.section0{
    background-color: #fefefe;
    margin:0;
    padding: 10px 0 10px 0;
}
.section0-style{
    font-size: large;
    font-weight:900;
    text-align: center;
    
}
.section1{
    background-color: #e4e4e4;
    margin:0;
    padding: 10px 0 30px 0;
    font-weight: 400;
    
}
.t1r1-style{
    text-align: left;
    
}
.t1r2-style{
    width: 25%;
}
.t1r2-input-style{
    width: 250px;
    height: 30px;
    
}
.why{
    color: gray;
    padding: 5px 0 0 0;
}
.section2_radio-style{
    padding: 5px;
    font-size: 11px;
    vertical-align: middle;
}



